<a href="https://colab.research.google.com/github/isabella578181/trivia/blob/main/Sesion_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Sesion 02**

## **Ejemplo 1: Map**

In [ ]:
lista_numero=[1,2,3,4,5,6,7,8,9,10]

In [ ]:
# Aplicar funcion map para multiplicar por 8
def multiplicar_por_8(numero):
  return numero*8

In [ ]:
map(multiplicar_por_8, lista_numero)

In [ ]:
list(map(multiplicar_por_8, lista_numero))

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]

In [ ]:
tupla_numero=(1,2,3,4,5,6,7,8,9,10)
tuple(map(multiplicar_por_8, lista_numero))

(8, 16, 24, 32, 40, 48, 56, 64, 72, 80)

In [ ]:
def convertir_en_string_mas_unidad(numero):
  return f"{numero} seg"

In [ ]:
resultado = list(map(convertir_en_string_mas_unidad, lista_numero))
print(resultado)

['1 seg', '2 seg', '3 seg', '4 seg', '5 seg', '6 seg', '7 seg', '8 seg', '9 seg', '10 seg']

In [ ]:
resultado[-1]

'10 seg'

In [ ]:
lista_numero = list(map(convertir_en_string_mas_unidad, lista_numero))
print(lista_numero)

['1 seg', '2 seg', '3 seg', '4 seg', '5 seg', '6 seg', '7 seg', '8 seg', '9 seg', '10 seg']

In [ ]:
list_strig = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

# Proceso de Casting
def convertir_en_entero(numero):
  return int(numero)

resultado = list(map(convertir_en_entero, list_strig))
print(resultado)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(map(multiplicar_por_8, lista_numero))

['1 seg1 seg1 seg1 seg1 seg1 seg1 seg1 seg',
 '2 seg2 seg2 seg2 seg2 seg2 seg2 seg2 seg',
 '3 seg3 seg3 seg3 seg3 seg3 seg3 seg3 seg',
 '4 seg4 seg4 seg4 seg4 seg4 seg4 seg4 seg',
 '5 seg5 seg5 seg5 seg5 seg5 seg5 seg5 seg',
 '6 seg6 seg6 seg6 seg6 seg6 seg6 seg6 seg',
 '7 seg7 seg7 seg7 seg7 seg7 seg7 seg7 seg',
 '8 seg8 seg8 seg8 seg8 seg8 seg8 seg8 seg',
 '9 seg9 seg9 seg9 seg9 seg9 seg9 seg9 seg',
 '10 seg10 seg10 seg10 seg10 seg10 seg10 seg10 seg']

In [ ]:
lista_numero

['1 seg',
 '2 seg',
 '3 seg',
 '4 seg',
 '5 seg',
 '6 seg',
 '7 seg',
 '8 seg',
 '9 seg',
 '10 seg']

## **Ejemplo 2: Filter**

In [ ]:
def es_par(numero):
  return numero % 2 == 0

lista_numeros = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [ ]:
print(list(filter(es_par, lista_numeros)))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
def contiene_a(palabra):
  return 'a' in palabra

cadenas = ['manzana', 'pera', 'uva', 'banana', 'kiwi']

In [ ]:
resultado = list(filter(contiene_a, cadenas))
print(resultado)

['manzana', 'pera', 'uva', 'banana']

In [ ]:
def longitud_mayor_a_cuatro(palabra):
  return len(palabra) > 4


palabras = ['sol', 'luna', 'estrella', 'cielo', 'mar', 'planeta']

In [ ]:
palabras_largas = list(filter(longitud_mayor_a_cuatro, palabras))
print(palabras_largas)

['estrella', 'cielo', 'planeta']

## **Ejemplo 3: And**

In [ ]:
def es_par(numero):
    return numero % 2 == 0

def mayor_que_cinco(numero):
    return numero > 5

def es_par_y_mayor_que_cinco(numero):
    return es_par(numero) and mayor_que_cinco(numero) # True and True

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numeros_pares_y_mayores_que_cinco = list(filter(es_par_y_mayor_que_cinco, numeros))
print(numeros_pares_y_mayores_que_cinco)

[6, 8, 10]

## **Ejemplo 4: Or**

In [ ]:
def contiene_a(palabra):
    return 'a' in palabra

def longitud_mayor_a_cinco(palabra):
    return len(palabra) > 5

def contiene_a_o_es_larga(palabra):
    return contiene_a(palabra) or longitud_mayor_a_cinco(palabra)

In [ ]:
palabras = ['sol', 'luna', 'estrella', 'cielo', 'mar', 'planeta']

In [ ]:
resultado_funciones_or = list(filter(contiene_a_o_es_larga, palabras))
print(resultado_funciones_or)

['luna', 'estrella', 'mar', 'planeta']

## **Ejemplo 5: Not**

In [ ]:
lista_numeros_letras=[1,2,3,4,5,6,7,8,9,10,'a','b','c','d','e','f','g','h','i','j']

def solo_numeros(elemento):
  return not isinstance(elemento, str)

resultado = list(filter(solo_numeros, lista_numeros_letras))
print(resultado)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
if not True:
  print('Es un numero')
else:
  print('No es un numero')

No es un numero

## **Ejemplo 6: Lambda**